VITE_API_URL=
VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a9b1eb30039dc042f42
VITE_APPWRITE_DATABASE_ID=6a9b8c5700310779ff5c
VITE_APPWRITE_BUCKET_ID=6a9b8c9a0024f0a1f2f4
