APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=
APPWRITE_TABLE_ID=
APPWRITE_BUCKET_ID=
JWT_SECRET=
CRON_SECRET=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
ALLOWED_ORIGINS=https://testspace-dashboard.appwrite.network,https://testspace-webapp.appwrite.network,http://localhost:5173
VITE_API_URL=https://testspace-api.appwrite.network
